.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cbcbcb7b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 100%;
    width: 100%; 
}

.login-popup-container{
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 14px;
    animation: fadeIn 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
}

.login-popup-title img{
    width: 16px;
}

.login-popup-title img:hover{
    cursor: pointer;
    scale: 1.2;
    transition: .3s ease;
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input{
    outline: none;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
}

.Btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: whitesmoke;
    background-color: var(--primary);
    font-weight: 500;
}

.Btn:hover{
    cursor: pointer;
    scale: 1.125;
    transition: .5s ease;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: -10px;
}

/* .login-popup-condition input[type="checkbox"]:checked {
    background-color: var(--primary); 
} */

.login-popup-condition input{
    margin-top: 5px;
}

.login-popup p span{
    color: var(--primary);
    font-weight: 600;
}

.login-popup p span:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.4s ease;
}